* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #f4f7fb;
    --text: #1e293b;
    --card: #ffffff;
    --primary: #3c7587;
    --secondary: #5da4b3;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card);
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
    font-size: 18px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--text);
}

#menuBtn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* LAYOUT */
.container {
    display: flex;
}

.main {
    flex: 1;
    padding: 20px;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 220px;
    height: 100%;
    background: var(--primary);
    color: white;
    padding: 20px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
}

/* DASHBOARD */
.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    min-width: 150px;
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* GRÁFICA */
.grafica {
    max-width: 400px;
    margin: auto;
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
}

/* FORMULARIO */
.form {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.ini {
    width: 100%;
    max-width: 400px;
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
}

.ini input,
.ini select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.ini button {
    width: 100%;
    padding: 10px;
    background: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
}

.ini button:hover {
    background: var(--secondary);
}

/* TABLA */
.clientes table {
    width: 100%;
    border-collapse: collapse;
    background: var(--card);
}

.clientes th,
.clientes td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.clientes button {
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
}

/* Botones separados (más pro) */
.clientes button:first-child {
    background: #3c7587; /* editar */
}

.clientes button:last-child {
    background: crimson; /* eliminar */
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(177, 177, 177, 0.4);
    backdrop-filter: blur(5px);  /*fondo borroso*/

    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 95%;
    max-width: 1000px;
    height: auto;
    max-height: 85vh;

    display: flex;
    flex-direction: column;

    overflow: hidden; 
    animation: aparecer 0.3s ease;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}
canvas {
    max-width: 100% !important;
    height: 350px !important;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.modal-buttons button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.modal-buttons button:first-child {
    background: var(--primary);
    color: white;
}

.modal-buttons button:last-child {
    background: crimson;
    color: white;
}

#modalStats .modal-content {
    max-height: 90vh;
    overflow-y: auto;
}

.botones-graficas {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}

.botones-graficas button {
    padding: 8px 12px;
    border: none;
    background: var(--primary);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.botones-graficas button:hover {
    background: var(--secondary);
}

.btn-stats {
    background: linear-gradient(135deg, #3c7587, #5da4b3);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
    transition: 0.3s;
}

.btn-stats:hover {
    transform: scale(1.05);
    opacity: 0.9;
} 

.stats-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 15px 0;
}

.stats-buttons button {
    background: #3c7587;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.stats-buttons button:hover {
    background: #5da4b3;
    transform: scale(1.05);
}

.filtro {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content button {
    background: rgb(0, 72, 120);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

/* ANIMACIÓN */
@keyframes aparecer {
    from {
        transform: translateY(-30px) scale(0.95);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .grafica {
        width: 100%;
    }
}
