<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Center System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <!-- barra de navegacion -->
    <div class="navbar">
        <button id="menuBtn">☰</button>

        <h2>Call Center System</h2>

        <div class="menu">
            <a href="#Dashboard">Dashboard</a>
            <a href="#Registrar">Registrar</a>
            <a href="#Solicitudes">Solicitudes</a>
        </div>
    </div>

    <div class="container">

        <!-- sidebar -->
        <div class="sidebar">
            <h3>Menú</h3>
            <a href="#Dashboard">Dashboard</a>
            <a href="#Registrar">Registrar Cliente</a>
            <a href="#Solicitudes">Solicitudes</a>
        </div>

        <main class="main">

            <!-- DASHBOARD -->
            <section class="Dashboard" id="Dashboard">
                <h2>Dashboard</h2>
                <hr><br>

                <div class="cards">
                    <div class="card">
                        <h3 id="total">0</h3>
                        <p>Total</p>
                    </div>

                    <div class="card">
                        <h3 id="pendientes">0</h3>
                        <p>Pendientes</p>
                    </div>

                    <div class="card">
                        <h3 id="proceso">0</h3>
                        <p>En Proceso</p>
                    </div>

                    <div class="card">
                        <h3 id="resueltos">0</h3>
                        <p>Resueltos</p>
                    </div>
                </div>

                <button class="btn-stats" onclick="abrirEstadisticas()">
                    Ver Estadísticas
                </button>
            </section>

            <!-- FORMULARIO -->
            <section class="form" id="Registrar">
                <div class="ini">
                    <h3>Registrar Cliente</h3>
                    <hr><br>

                    <input type="text" id="nombre" placeholder="Nombre">
                    <input type="text" id="telefono" placeholder="Teléfono">

                    <select id="tipo">
                        <option value="">Tipo</option>
                        <option>Cita médica</option>
                        <option>Taxes</option>
                        <option>Asesoría</option>
                    </select>

                    <select id="estado">
                        <option value="">Estado</option>
                        <option>Pendiente</option>
                        <option>En proceso</option>
                        <option>Resuelto</option>
                    </select>

                    <select id="linea">
                        <option value="">Línea WhatsApp</option>
                        <option>Línea 1</option>
                        <option>Línea 2</option>
                        <option>Línea 3</option>
                        <option>Línea 4</option>
                        <option>Línea 5</option>
                        <option>Línea 6</option>
                    </select>

                    <select id="jefe">
                        <option value="">Cartera / Jefe</option>
                        <option>Jefe 1</option>
                        <option>Jefe 2</option>
                        <option>Jefe 3</option>
                    </select>

                    <button onclick="guardarCliente()">Guardar</button>
                </div>
            </section>

            <!-- Tabla -->
            <section class="clientes" id="Solicitudes">
                <h2>Solicitudes</h2>
                <hr>

                <table>
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Teléfono</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Línea</th>
                            <th>Jefe</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Acción</th>
                        </tr>
                    </thead>

                    <tbody id="tablaClientes">
                        <!-- informacion de los clientes -->
                    </tbody>
                </table>
            </section>

        </main>
    </div>

    <!-- MODAL EDITAR -->
    <div id="modalEditar" class="modal">
        <div class="modal-content">

            <h3>Editar Cliente</h3>
            <hr><br>

            <input type="text" id="edit_nombre" placeholder="Nombre">
            <input type="text" id="edit_telefono" placeholder="Teléfono">

            <select id="edit_tipo">
                <option value="">Tipo</option>
                <option>Cita médica</option>
                <option>Taxes</option>
                <option>Asesoría</option>
            </select>

            <select id="edit_estado">
                <option value="">Estado</option>
                <option>Pendiente</option>
                <option>En proceso</option>
                <option>Resuelto</option>
            </select>

            <select id="edit_linea">
                <option value="">Línea</option>
                <option>Línea 1</option>
                <option>Línea 2</option>
                <option>Línea 3</option>
                <option>Línea 4</option>
                <option>Línea 5</option>
                <option>Línea 6</option>
            </select>

            <select id="edit_jefe">
                <option value="">Jefe</option>
                <option>Jefe 1</option>
                <option>Jefe 2</option>
                <option>Jefe 3</option>
            </select>

            <div class="modal-buttons">
                <button onclick="guardarEdicion()">Actualizar</button>
                <button onclick="cerrarModal()">Cancelar</button>
            </div>

        </div>
    </div>

    <!-- MODAL ESTADISTICAS -->
    <div id="modalStats" class="modal">
        <div class="modal-content">

            <h2> Estadísticas</h2>

            <select id="filtroTiempo" class="filtro" onchange="cargarEstadisticas()">
                <option value="todos">Todos</option>
                <option value="hoy">Hoy</option>
                <option value="semana">Últimos 7 días</option>
                <option value="mes">Último mes</option>
            </select>

            <hr>

            <!-- BOTONES -->
            <div class="stats-buttons">
                <button onclick="cambiarGrafica('estado')">Estados</button>
                <button onclick="cambiarGrafica('jefe')">Jefes</button>
                <button onclick="cambiarGrafica('tipo')">Tipos</button>
                <button onclick="cambiarGrafica('linea')">Líneas</button>
            </div>

            <hr>

            <canvas id="graficaGeneral"></canvas>

            <button onclick="cerrarEstadisticas()">Cerrar</button>

        </div>
    </div>

    <footer style="text-align: center;">
        <p>&copy; 2026 Call center</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>